{{ define "content" }}

<style>
  .research-title {
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 0.5rem; 
    width: 100%;
    border-bottom-left-radius: 12px;  
    border-bottom-right-radius: 12px;
    font-variant: small-caps; 
    font-size: 1rem; 
    z-index: 1;  
    transition: background 0.3s ease, transform 0.3s ease;
    display: block;           
    margin-top: auto;        
  }


</style>

<div style="max-width: 1200px; margin: 0 auto; padding: 2rem; width: 100%;">

  <h2 style="text-align: center; margin-bottom: 2rem;">{{ .Title }}</h2>

  {{ with .Params.news }}
    <div style="max-width: 1000px; margin: 3rem auto 0 auto;">

      {{ range . }}
        <!-- Group Title -->
        <h3 style="margin-top: 2rem; margin-bottom: 1rem;">
          {{ .title }}
        </h3>

        <!-- Bullet List -->
        <ul style="padding-left: 1.2rem; line-height: 1.8;">
          {{ range .items }}
            <li style="margin-bottom: 0.6rem;">
              {{ $.RenderString (dict "display" "inline") . }}
            </li>
          {{ end }}
        </ul>

      {{ end }}

    </div>
  {{ end }}

{{ end }}